.desc-container{
    width: 50%;
    margin: 7rem auto;
    text-align: center;
}

.desc-title{
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    color: #064420;
}
.desc{
    font-size: 30px;
    color: #483838;
}
.highlights-container{
    width: 70%;
    margin: 5rem auto;


}
.highlight{
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #000;

}
.highlight:last-child{
    border: none;
}
.highlight-image{
  border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 40px;
    background-color: #E4EFE7;;
}
.highlight-text{
    color: #000;
    height: 100%;
    width: 50%;
}
.highlight-title{
    color: #064420;
    font-size: 30px;
}
.about-footer{
    margin-top: 10rem;
    justify-content: space-around;


}
ul > li{
    display: inline-block;

}
.footer-list-item{
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
}
