body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}
/* NAVBAR */
nav{
    color: #f7f7f7;
    padding: 0 8%;
    background-color: #395144;
    justify-content: space-between;
    height: 10vh;
}
.logo-img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.logo{
    margin-left: 10px;
    font-family: 'Smokum', cursive;
    font-size: 2rem;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
}

.nav-items{
    list-style: none;
}
.nav-item{
    font-size: 1.2rem;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;

}
#landing-page{
    box-sizing: border-box;
    padding: 0 4rem;
    height: 90vh;
    width: 100vw;
}
.landing-text{
   justify-content: center;
    flex-direction: column;
}
.desc-text{
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #4E6C50;
}
.landing-img{
    background: url('images/planting.jpg');
    /* background-size: cover;
    align-items: center; */
}
.solgan{
    color: #395144;
    font-family: 'Smokum', cursive;
    font-size: 4rem;
    letter-spacing: 2px;
    margin: 0;
}
.landing-btn{
    box-sizing: border-box;
    margin-top: 15px;
    background-color: #4E6C50;
    border-color: #4E6C50;
    color: #f7f7f7;
}
/* UTILITY */
.flex{
    display: flex;
    align-items: center;
}
.half{
 padding: 0 8%;
    height: 90vh;
    width: 50%;
}
button{
    padding: 15px 25px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    border-radius: 10px;
    border: solid 1px;
}
.green{
    color: #54B435;
}
#info{
    height: 50vh;
    width: 100vw;

}
.testimony{
    width: 50%;
    height: 25%;
    margin: auto auto;
    margin-top: 10rem;
    text-align: center;
    font-size: 2rem;
    color: #395144;

}
.square{
    height: 200px;
    width: 300px;
    background-color: #F8C4B4;
    position: absolute;
    left: 50%;
    top: 200;
    z-index: -1;
    opacity: 0.7;
}
img{
    height: 300px;
    width: 300px;
}
.img-desc{
    display: inline-block;
    height: 300px;
    width: 300px;
    text-align: center;
}
.highlight-container{
    width: 800px;
    margin: auto auto;
}
footer{
    background-color: #395144;
    padding: 0;
}
